
#frame {
  .inline {
    display: inline-block;
  }

  .diff-panel {
    width: 33.33333%;
    height: 50%;
  }

  .result-panel {
    width: 100%;
    height: 50%;
  }

  .full-height {
    height: 100%;
  }

  .marge_difference {
    background-color: yellow;
    position: absolute;
  }

}