
body {
  margin: 0;
}

#frame {
  height: 100vh;
  position: relative;
  overflow-y: hidden;

  .input-section {
    height: 50%;
    .diff-panel {
      float: left;
      width: 33.33%;
      height: 100%;
    }
  }

  .output-section {
    height: 50%;
    .result-panel {
      height: 100%;
    }
  }

  .code-panel {
    height: 100%;
    position: relative;

    .code-panel-header {
      padding: 0 2px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }

    .ace-component {
      position: absolute;
      top: 2em;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  [class*='marge_highlight_'] {
    position: absolute;
    border-radius: 2px;
  }

  .marge_highlight_addition {
    background-color: forestgreen;
  }
  .marge_highlight_deletion {
    background-color: pink;
  }

//  .marge_difference {
//    background-color: #555500;
//    position: absolute;
//  }

}

$cp-height: 30px;
$cpTransition: bottom 0.3s;
#control-panel {
  position: absolute;
  bottom: -$cp-height;
  transition: $cpTransition;

  &.cp-visible {
    bottom: 0;
  }
}

#merge-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: $cpTransition;

  &.cp-visible {
    bottom: $cp-height;
  }
}
