<!DOCTYPE html>
<html>
<head>
<title>Marge</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../css/main.css" rel="stylesheet" />
<style type="text/css">
  [ng-cloak] { display:none; }
</style>

  <script type="text/javascript">
    if(process.env.PWD) { // When launched from the command line, we need to sort out the current working directory as a nw/atom bug workaround
      process.chdir(process.env.PWD);
    }
//    process.on('uncaughtException', function(e) {
//      console.log("error:", e);
//      process.exit(1);
//    });
  </script>

</head>
<body ng-cloak>
  <div id="frame" ng-style="themeStyle" ng-controller="margeController">
    <div id="control-panel" ng-class="{'cp-visible': showControlPanel}">
      <input type="number" step="0.1" min="0" max="1" ng-model="matchThresholdString" /> v1First: <input type="checkbox" ng-model="v1First" />
    </div>
    <div id="merge-container" ng-class="{'cp-visible': showControlPanel}">
      <div class="input-section">
        <div class="diff-panel" code-panel content="baseContent" editor-settings="editorSettings"></div>
        <div class="diff-panel" code-panel content="v1Content" editor-settings="editorSettings"></div>
        <div class="diff-panel" code-panel content="v2Content" editor-settings="editorSettings"></div>
      </div>
      <div class="output-section">
        <div class="result-panel" code-panel content="resultContent" editor-settings="editorSettings">
      </div>
    </div>
    </div>
  </div>
</body>
<script data-main="../requirejs-main" src="../lib/myrequire.js"></script>
</html>
