<!DOCTYPE html>
<html>
<head>
<title>Marge</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../css/main.css" rel="stylesheet" />
<style type="text/css">
  [ng-cloak] { display:none; }
</style>

  <script type="text/javascript">
    if(process.env.PWD) { // When launched from the command line, we need to sort out the current working directory as a nw bug workaround
      process.chdir(process.env.PWD);
    }
//    process.on('uncaughtException', function(e) {
//      console.log("error:", e);
//      process.exit(1);
//    });
  </script>

</head>
<body ng-cloak>
  <div id="frame" style="position: absolute; left: 0; right: 0; top: 0; bottom: 0;" ng-controller="margeController">
    <div style="position:relative;" class="full-height">
      <input type="number" step="0.1" min="0" max="1" ng-model="matchThresholdString" /> v1First: <input type="checkbox" ng-model="v1First" /> <div class="full-height"><!--
     --><div class="inline diff-panel" code-panel content="baseContent"></div><!--
     --><div class="inline diff-panel" code-panel content="v1Content"></div><!--
     --><div class="inline diff-panel" code-panel content="v2Content"></div><!--
     --><div class="result-panel" code-panel content="resultContent"></div>
      </div>
    </div>
  </div>
</body>
<script data-main="../requirejs-main" src="../lib/myrequire.js"></script>
</html>
