<!DOCTYPE html>
<html>
<head>
<title>Marge</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/main.css" rel="stylesheet" />
</head>
<body ng-cloak>
  <div id="frame" style="position: absolute; left: 0; right: 0; top: 0; bottom: 0;" ng-controller="margeController">
    <div class="inline" style="width: 50%; height: 100%;" ui-ace ng-model="leftText">

    </div><!--
 --><div class="inline" style="width: 50%; height: 100%;" ui-ace ng-model="rightText">

    </div>
  </div>
</body>
<script data-main="js/main" src="bower_components/requirejs/myrequire.js"></script>
</html>
